@mixin big() {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin grid() {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(4, 78px);
  gap: 10px;
  border: 0px solid yellow;

  @include big() {
    grid-template-columns: repeat(4, 130px);
    gap: 10px;
  }
}

.board_container {
  @include grid();
}

.card {
  width: 100%;
  perspective: 1000px;
  cursor: pointer;
  border: 0px solid yellow;
  height: 78px;
  border: 0px solid red;

  @media (min-width: 768px) {
    height: 130px;
  }
}

.card__face {
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 6px;
  backface-visibility: hidden;
  transition: transform 1s;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0px solid #ccc;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  background-position-y: center;

  &--front1 {
    background-image: url(../../image/card-1.png);
  }

  &--front2 {
    background-image: url(../../image/card-2.png);
  }

  &--front3 {
    background-image: url(../../image/card-3.png);
  }

  &--front4 {
    background-image: url(../../image/card-4.png);
  }

  &--front5 {
    background-image: url(../../image/card-5.png);
  }

  &--front6 {
    background-image: url(../../image/card-6.png);
  }

  &--back {
    background-image: url(../../image/card.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    transform: rotateY(180deg);
  }
}

.card.is-flipped {
  .card__face--front {
    transform: rotateY(180deg);
  }

  .card__face--back {
    transform: rotateY(360deg);
  }
}
