.App-logo {
  box-sizing: border-box;
  border-radius: 80px;
  animation: swing 3s infinite ease-in-out;
  width: 160px;
  height: 160px;
  padding: 20px;

  @media (min-width: 768px) {
    width: 300px;
    height: 300px;
    border-radius: 150px;
  }
}

@keyframes swing {

  0%,
  100% {
    transform: rotate(-5deg);
  }

  50% {
    transform: rotate(5deg);
  }
}